<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="shortcut icon" type="image/jpg" href="./favicon.ico" />
	<link th:href="@{/css/main.css}" rel="stylesheet" />
	<link th:href="@{/css/landing.css}" rel="stylesheet" />
		<title>MyBancaApp</title>
</head>
<body>
	
	<nav class="navbar navbar-expand-md navbar-dark bg-primary sticky-top">
		<div class="container-fluid">
			<a class="navbar-brand" href="#"> <img
				th:src="@{/imagenes/1.png}" alt="logo-share" height="80" />
				
			</a>
			<h3 class="principal-logotext text-white">
					My Banca APP
			</h3>
			<!--Navbar:button-collapse-->
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<!--Navbar:items-menu-->
			<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
				
				<ul class="navbar-nav ml-auto mb-2 mb-lg-0">
					
					<li class="nav-item ms-3"><a
						class="nav-link text-white text-uppercase" th:href="@{auth/registroA}">Registrate </a>
					</li>
					<li class="nav-item ms-3"><a
						th:href="@{/auth/login}">
							<button type="button"
								class="btn btn-dark button text-uppercase btn-padding-x-sm fw-bold">
								Login</button>
					</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!--Header-->
	<header class="principal-bg bg-primary" style="background-image: url('/imagenes/2.JPG');"> >
		<!--Welcome-->
		<div class="container p-4">
			<div class="row">
				<div class="col-lg-5 col-md-12 mt-4 principal-left">
					<h1 class="text-black">
						Una buena plataforma de cartera.
					</h1>
					
				</div>
				<div class="col-lg-1 col-md-12"></div>

			</div>
		</div>
		<!--Wave-->
		<div class="wave" id="features"></div>
	</header>
	<main class="main">
		<!--Features-->
		<section class="features animated p-5">
			<h2 class="secondary-title text-primary text-center">Descuentos de Facturas/letras/recibos</h2>
			<p class="text-dark text-center">Empresas pequeñas o medianas</p>
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-12">
						<div
							class="d-flex flex-column justify-content-center p-xs-3 p-xl-5 feature-item-container">
							<div class="feature-item animated">
								<div class="p-2 text-center">
									<img th:src="@{/imagenes/3.jpg}" alt=""
										class="img-fluid feature-img" />
								</div>
								<div class="p-2 text-center fw-bold">Mejora tus finanzas</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-12">
						<div
							class="d-flex flex-column justify-content-center p-xs-3 p-xl-5 feature-item-container">
							<div class="feature-item">
								<div class="p-2 text-center">
									<img th:src="@{/imagenes/buscar.png}" alt=""
										class="img-fluid feature-img" />
								</div>
								<div class="p-2 text-center fw-bold">Revisa tus intereses</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-12">
						<div
							class="d-flex flex-column justify-content-center p-xs-3 p-xl-5 feature-item-container">
							<div class="feature-item animated">
								<div class="p-2 text-center">
									<img th:src="@{/imagenes/4.jpg}" alt=""
										class="img-fluid feature-img" />
								</div>
								<div class="p-2 text-center fw-bold">Personifica tu cartera</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!--Experience-->
		<section class="experience bg-primary p-5" id="experience">
			<h2 class="secondary-title text-center text-white animated">Nosotros</h2>
			<div class="text-white text-center animated">Finanzas y ingenieria Economica UPC</div>
			<div class="container animated">
				<div class="row mt-4">
					<div class="col-6 col-sm-6 col-lg-4 animated">
						<div class="d-flex flex-column justify-content-center">
							<div
								class="
                                        description
                                        border-end
                                        d-flex
                                        flex-column
                                        justify-content-center
                                        align-items-center
                                    ">
								<div>
									<div class="text-center h3 fw-bold text-white number">Developer</div>
									<div class="p-1 text-center text-white">Doyler Heredia</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-6 col-sm-6 col-lg-4">
						<div class="d-flex flex-column justify-content-center">
							<div
								class="
                                        description
                                        border-end
                                        d-flex
                                        flex-column
                                        justify-content-center
                                        align-items-center
                                    ">
								<div>
									<div class="text-center h3 fw-bold text-white number">Developer</div>
									<div class="p-1 text-center text-white">Sebastian</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-6 col-sm-6 col-lg-4">
						<div class="d-flex flex-column justify-content-center">
							<div
								class="
                                        description
                                        border-end
                                        d-flex
                                        flex-column
                                        justify-content-center
                                        align-items-center
                                    ">
								<div>
									<div class="text-center h3 fw-bold text-white number">Developer</div>
									<div class="p-1 text-center text-white">Tomas</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-6 col-sm-6 col-lg-4 animated">
						<div class="d-flex flex-column justify-content-center">
							<div
								class="
                                        description
                                        border-end
                                        d-flex
                                        flex-column
                                        justify-content-center
                                        align-items-center
                                    ">
								<div>
									<div class="text-center h3 fw-bold text-white number">Developer</div>
									<div class="p-1 text-center text-white">David</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

	</main>
	<!-- Footer -->
	<footer class="text-center text-lg-start bg-dark text-white p-5">
		<!-- Section: Links  -->
		<section class="">
			<div class="container text-left text-md-start">
				<!-- Grid row -->
				<div class="row">
					<div class="col-md-5">
						<!-- Content -->
						<h6 class="text-uppercase fw-bold mb-4">
							<i class="fas fa-gem mr-3"></i><img
								th:src="@{/imagenes/1.png}" alt="logo-share" height="80" />
						</h6>
						<p class="text-left description">El presente proyecto tiene como objetivo principal el desarrollo de una aplicación web que permita a los usuarios obtener una empresa, a saber su cartera con movimientos de acuerdo a su divisa además agregar y manipular un base de datos de sus registros de valores en función a facturas, letras, Recibos por honorarios. En esencia , esta empresa ayudará a las empresas pequeñas (Pymes), empresas medianas. Esta aplicación aplicará las fórmulas vistas en el curso de Finanzas e Ingeniería Económica. 
El usuario se registrará, con su correo y contraseña a la aplicación siendo estas sus credenciales, y podrá interactuar con los requerimientos funcionales, como registrar empresa, registrar valores, descuentos, hallar tasa efectiva, nominal.
						</p>
					</div>
					<div class="col-md-3">
						<!-- Links -->
						<h6 class="text-left fw-bold mb-4">Menú</h6>
						<p>
							<a href="#!" class="text-reset">Características</a>
						</p>
						<p>
							<a href="#!" class="text-reset">Servicios</a>
						</p>
						<p>
							<a href="#!" class="text-reset">Nosotros</a>
						</p>
						
					</div>
					<div class="col-md-4">
						<!-- Links -->
						<h6 class="fw-bold mb-4">Contacto</h6>
						<p class="d-flex">
							<i class="bi bi-envelope-fill mr-2"></i> <span>
								mybancaapp@banca.upc.edu </span>
						</p>
						<p class="d-flex">
							<i class="bi bi-telephone-fill mr-2"></i> <span>
								+51 954427640</span>
						</p>
						
					</div>
					<!-- Copyright -->
					<div class="col-xs-12 text-left p-3">© MyBancaApp UPC-FIE-2021-02</div>
					<!-- Copyright -->
				</div>
			</div>
		</section>
	</footer>
	<!-- Footer -->
	<script src="./js/bootstrap.bundle.min.js"></script>
	<script src="./js/index.js"></script>
</body>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
	crossorigin="anonymous" type=""></script>
</html>