<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">
		
	<head>
	</head>

	<body>
		<div th:fragment="footerE1">

			<div class="container">

				<footer>
					<div class="row clearfix">
    				<div class="col-md-12 column" align="center">
    					<img th:src="@{/imagenes/4.png}" width="280" height="210" alt="logo" align="middle">
    					</img>
    				</div>
    				</div>
					<!-- this is footer -->
					 © MyBancaApp UPC-FIE-2021-02- Todos los derechos reservados
				</footer>
				
			</div>

		</div>
		
	</body>
	
</html>
