<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Menu</title>
</head>
<body>
	<aside th:fragment="sidebarCS" class="sidebar bg-primary">
		<div class="sidebar-start">
			<div class="sidebar-head">
				<a href="#" class="logo-wrapper" title="Home"> <img
					th:src="@{/imagenes/1.png}" alt="" height="50" />
					<a class="text-decoration-none" th:href="@{/}">My Banca App</a>
				</a>
				
				<div class="sidebar-toggle bg-dark" type="button">
					<span class="bi-list fs-5 text-white"></span> <span class="sr-only">Close Study</span>
				</div>
			</div>
			<div class="sidebar-body">
				<ul class="sidebar-body-menu list-unstyled">
					<li><a class="text-decoration-none" th:href="@{/arrendador/listar}"><span
							class="icon bi bi-card-checklist fs-5" aria-hidden="true"></span>Cliente</a></li>
					<li><a class="text-decoration-none" th:href="@{/estudiante/listar}"><span
							class="icon bi bi-card-checklist fs-5" aria-hidden="true"></span>Facturas</a></li>
					<li><a class="text-decoration-none" th:href="@{/habitacion/listar}"><span
							class="icon bi bi-card-checklist fs-5" aria-hidden="true"></span>Cartera</a></li>
					<li><a class="text-decoration-none" th:href="@{/aviso/listar}"><span
							class="icon bi bi-card-checklist fs-5" aria-hidden="true"></span>Resumen</a></li>

					<li><a class="text-decoration-none" th:href="@{/interes/listar}"><span
							class="icon bi bi-card-checklist fs-5" aria-hidden="true"></span>Calcular Tasas</a></li>
							<br>
							<br>
							<br>
							<br>
							<br>
							<br>
							<br>
							<br>
							<br>
							<br>
							<br>
							<br>
							<br>
		<a class="text-decoration-none" th:href="@{/}">Dolar Hoy <br>S/4.02</a>
						
				</ul>
			</div>
		</div>
	</aside>
</body>

<style>

bg-gradient {
background: #C9D6FF;
background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF); 
background: linear-gradient(to right, #E2E2E2, #C9D6FF);
} 




</style>
</html>